$color-background: #888888;
$color-primary-1: #444444;
$color-primary-2: #222222;
$color-additional: #79aa89;
$color-active: #2cfd72;
$color-dark: #ffffff;
$color-title: rgba(101,134,177,0.8);


$content-width: 715px;
